<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- jQuery -->
	<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>

	<!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">

    {{!-- custom JavaScript --}}
    <script type="text/javascript" src="js/functions.js"></script>

</head>
<body>
    {{{ body }}}


    <!-- Latest compiled and minified JavaScript -->
	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>
